.flex-deirection {
    display: flex;
    flex-direction: row;
}

.flex-deirection-col {
    display: flex;
    flex-direction: column;
}
.flexrow1, .flexcol1 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 1rem;
}

.justify {
    display: flex;
    justify-content: space-around;
}

.pos {
    position: relative;
}
.position {
    background-color: red;
    width: 100px;
    height: 100px;
}
#position2 {
    background-color: yellow;
    position: absolute;
    bottom: 2rem;
}